<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modify-page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>CDCN</title>
</head>

<body>
    <a id="downloadAnchorElem" style="display:none"></a>
    <div id="canvas-container"></div>
    <div id="control-container">
        <section id="import-container">
            <a class="btn btn-primary" data-toggle="collapse" href="#import" role="button" aria-expanded="false"
                aria-controls="import">
                Import/Export
            </a>
            <div class="section-content collapse show" id="import">
                <form>
                    <div id="import-model">
                        <div class="input-header"> Model </div>
                        <div class="input-box">
                            <select id="import-model-options">
                            </select>
                            <button id="import-model-action"> Import </button>
                        </div>
                    </div>
                    <div id="import-group">
                        <div class="input-header"> Group </div>
                        <div class="input-box">
                            <input id="import-group-input" type="text">
                            <button id="import-group-action"> Import </button>
                        </div>
                    </div>
                    <div id="export-result">
                        <div class="input-header"> Export </div>
                        <div class="input-box">
                            <input id="export-result-input" type="text">
                            <button id="export-result-action"> Export </button>
                        </div>
                    </div>
                    <div class="input-box">
                        <button id="btn-refresh-import"> Refresh </button>
                        <button id="save-to-server"> Save </button>
                    </div>
                </form>
            </div>
        </section>
        <section id="options-container">
            <a class="btn btn-primary" data-toggle="collapse" href="#options" role="button" aria-expanded="false"
                aria-controls="options">
                Options
            </a>
            <div class="section-content collapse show" id="options">
                <form id="_background-color">
                    <div class="input-box">
                        <label>Background</label>
                        <input type="color" class="_background-value">
                    </div>
                </form>
            </div>
        </section>
        <section id="lights-container">
            <a class="btn btn-primary" data-toggle="collapse" href="#lights" role="button" aria-expanded="false"
                aria-controls="lights">
                Lights
            </a>
            <div class="section-content collapse show" id="lights">
            </div>
        </section>
        <section id="anchors-container">
            <a class="btn btn-primary" data-toggle="collapse" href="#anchor" role="button" aria-expanded="false"
                aria-controls="anchor">
                Anchor
            </a>
            <div class="section-content collapse show" class="collapse" id="anchor">
                <form class="anchor-properties">
                    <div class="anchor-position">
                        <div class="anchors-positions-header input-header">Position</div>
                        <div class="anchors-position-values coordination-box">
                            <div class="input-box">
                                <label> X: </label>
                                <input type="number" value="0" class="anchor-position-x-value">
                            </div>
                            <div class="input-box">
                                <label> Y: </label>
                                <input type="number" value="0" class="anchor-position-y-value">
                            </div>
                            <div class="input-box">
                                <label> Z: </label>
                                <input type="number" value="0" class="anchor-position-z-value">
                            </div>
                        </div>
                    </div>
                    <div class="anchor-rotation">
                        <div class="anchors-rotations-header input-header">Rotation</div>
                        <div class="anchors-rotation-values coordination-box">
                            <div class="input-box">
                                <label> X: </label>
                                <input type="number" value="0" class="anchor-rotation-x-value">
                            </div>
                            <div class="input-box">
                                <label> Y: </label>
                                <input type="number" value="0" class="anchor-rotation-y-value">
                            </div>
                            <div class="input-box">
                                <label> Z: </label>
                                <input type="number" value="0" class="anchor-rotation-z-value">
                            </div>
                        </div>
                    </div>
                    <div class="anchor-scale">
                        <div class="anchors-scales-header input-header">Scale</div>
                        <div class="anchors-scale-values coordination-box">
                            <div class="input-box">
                                <label> X: </label>
                                <input type="number" value="0" class="anchor-scale-x-value">
                            </div>
                            <div class="input-box">
                                <label> Y: </label>
                                <input type="number" value="0" class="anchor-scale-y-value">
                            </div>
                            <div class="anchor-postion-z input-box">
                                <label> Z: </label>
                                <input type="number" value="0" class="anchor-scale-z-value">
                            </div>
                        </div>
                    </div>
                    <div class="check-box">
                        <label> Visible </label>
                        <input type="checkbox" class="anchor-visible-value">
                    </div>
                </form>
            </div>
        </section>
        <section id="models-container">
            <a class="btn btn-primary" data-toggle="collapse" href="#models" role="button" aria-expanded="false"
                aria-controls="models">
                Models
            </a>
            <div class="section-content collapse show" id="models">

            </div>
        </section>
        <section id="groups-container">
            <a class="btn btn-primary" data-toggle="collapse" href="#groups" role="button" aria-expanded="false"
                aria-controls="groups">
                Groups
            </a>
            <div class="section-content collapse show" class="collapse" id="groups">

            </div>
        </section>
    </div>

    <div id="Form-Node" style="display: none;">
        <!-- Light prototype -->
        <div class="_light">
            <a class="_light-header btn btn-secondary" data-toggle="collapse" role="button" aria-expanded="false"
                aria-controls="options">
                Light
            </a>
            <form class="_light-properties collapse show">
                <div class="_light-position">
                    <div class="input-header">Position</div>
                    <div class="_lights-position-values coordination-box">
                        <div class="_light-postion-x input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_light-position-x-value">
                        </div>
                        <div class="_light-postion-y input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_light-position-y-value">
                        </div>
                        <div class="_light-postion-z input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_light-position-z-value">
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <label>Visible</label>
                    <input type="checkbox" class="_light-visible-value">
                </div>
            </form>
        </div>

        <!-- Model prototype -->
        <div class="_model">
            <a class="_model-header btn btn-secondary" data-toggle="collapse" role="button" aria-expanded="false"
                aria-controls="options">
                Model
            </a>
            <form class="_model-properties collapse show">
                <div class="_model-group input-box">
                    <label>Group</label>
                    <select class="_model-group-values">
                        <option selected value class="_model-group-values-blank">No group</option>
                    </select>
                </div>
                <div class="_model-position">
                    <div class="_models-positions-header input-header">Position</div>
                    <div class="_models-position-values coordination-box">
                        <div class="input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_model-position-x-value">
                        </div>
                        <div class="input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_model-position-y-value">
                        </div>
                        <div class="input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_model-position-z-value">
                        </div>
                    </div>
                </div>
                <div class="_model-rotation">
                    <div class="input-header">Rotation</div>
                    <div class="_models-rotation-values coordination-box">
                        <div class="input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_model-rotation-x-value">
                        </div>
                        <div class="input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_model-rotation-y-value">
                        </div>
                        <div class="input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_model-rotation-z-value">
                        </div>
                    </div>
                </div>
                <div class="_model-scale">
                    <div class="input-header">Scale</div>
                    <div class="_models-scale-values coordination-box">
                        <div class="input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_model-scale-x-value">
                        </div>
                        <div class="_model-postion-y input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_model-scale-y-value">
                        </div>
                        <div class="_model-postion-z input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_model-scale-z-value">
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <label>Visible</label>
                    <input type="checkbox" class="_model-visible-value">
                    <label>Box Helper</label>
                    <input type="checkbox" class="_model-box-helper-value">
                </div>
                <button class="_model-delete btn btn-danger">
                    Delete
                </button>
            </form>

        </div>

        <div class="_group">
            <a class="_group-header btn btn-secondary" data-toggle="collapse" role="button" aria-expanded="false"
                aria-controls="options">
                Group
            </a>
            <form class="_group-properties collapse show">
                <div class="input-box">
                    <label>Elements</label>
                    <select class="_group-model-values">

                    </select>
                </div>
                <div class="_group-position">
                    <div class="input-header">Position</div>
                    <div class="_groups-position-values coordination-box">
                        <div class="input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_group-position-x-value">
                        </div>
                        <div class="input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_group-position-y-value">
                        </div>
                        <div class="input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_group-position-z-value">
                        </div>
                    </div>
                </div>
                <div class="_group-rotation">
                    <div class="_groups-rotations-header input-header">Rotation</div>
                    <div class="_groups-rotation coordination-box">
                        <div class="input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_group-rotation-x-value">
                        </div>
                        <div class="input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_group-rotation-y-value">
                        </div>
                        <div class="input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_group-rotation-z-value">
                        </div>
                    </div>
                </div>
                <div class="_group-scale">
                    <div class="_groups-scales-header input-header">Scale</div>
                    <div class="_groups-scale-values coordination-box">
                        <div class="input-box">
                            <label> X: </label>
                            <input type="number" value="0" class="_group-scale-x-value">
                        </div>
                        <div class="input-box">
                            <label> Y: </label>
                            <input type="number" value="0" class="_group-scale-y-value">
                        </div>
                        <div class="input-box">
                            <label> Z: </label>
                            <input type="number" value="0" class="_group-scale-z-value">
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <label> Visible </label>
                    <input type="checkbox" class="_group-visible-value">
                    <label> Box Helper </label>
                    <input type="checkbox" class="_group-box-helper-value">
                </div>
            </form>
        </div>
    </div>



    <script src="/js/embed-component.js" type="module"></script>
    <script src="/js/modify-page.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>