<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload GLB File</title>
    <link rel="stylesheet" href="/css/upload-models.css">
</head>

<body>
    <h1>Upload 3D model</h1>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <div id="drop-zone">
            <i class="fas fa-cloud-upload-alt">
                <img src="https://cdn0.iconfinder.com/data/icons/file-format-3d-graphics-glyph-2/64/file_document_format_30-512.png"
                    alt="iconGLB">
            </i>
            <span>Drag and drop your GLB file here or</span>
            <input id="file" type="file" name="myModel" accept=".glb">
            <label for="file">Choose file</label>
            <p id="file-name"></p>
        </div>
        <button type="submit" name="submit">Upload</button>
    </form>

    <script src="/js/upload-models.js"></script>
</body>

</html>